#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createBlogInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createBlogInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Blog $colStr VALUES $valStr", "SELECT * FROM Blog WHERE blogId='$ctx.args.createBlogInput.blogId'"]
}