#set( $updateList = {} )
#foreach( $entry in $ctx.args.updatePostInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updatePostInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE Post SET $update WHERE postId=$ctx.args.updatePostInput.postId", "SELECT * FROM Post WHERE postId='$ctx.args.updatePostInput.postId'"]
}