#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createPostInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createPostInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Post $colStr VALUES $valStr", "SELECT * FROM Post WHERE postId='$ctx.args.createPostInput.postId'"]
}