#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createUserInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createUserInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO User $colStr VALUES $valStr", "SELECT * FROM User WHERE userId='$ctx.args.createUserInput.userId'"]
}